flask
flask-socketio
eventlet
numpy
scipy
google-generativeai
google-genai
langgraph
langchain-core
langchain-google-genai
qdrant-client
sentence-transformers
python-dotenv
soundfile
librosa
torchaudio
speechbrain
faster-whisper
nvidia-cublas-cu12
nvidia-cudnn-cu12
torch
